@font-face {
  font-family: 'SFProLight';
  src: url('~@/assets/fonts/SF-Pro-Display-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'SFPro';
  src: url('~@/assets/fonts/SF-Pro-Display-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'SFProSemiBold';
  src: url('~@/assets/fonts/SF-Pro-Display-Semibold.ttf') format('truetype');
}

@font-face {
  font-family: 'Manrope';
  src: url("~@/assets/fonts/Manrope-Regular.ttf") format('truetype');
}

@font-face {
  font-family: 'ManropeSemiBold';
  src: url("~@/assets/fonts/Manrope-SemiBold.ttf") format('truetype');
}